<%= form_with(model: professional) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= professional.errors[:name][0] %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>
<% end %>
